//breakpoints
$breakpoints: ("sm": "screen and (max-width: 414px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 1000px)",
  "xl": "screen and (max-width: 1200px)"
) !default;

// mixin
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints,$breakpoint)} {
    @content;
  }
}

body {
  background: #eee;
  color: #333;
  font-family: 'Noto Serif JP', serif;

  #about {
    background: #fff;
    padding: 3rem;
    width: 100%;
    display: none;

    @include mq(sm) {
      padding: 1rem;
    }

    .about-inner {
      display: flex;
      justify-content: space-between;
      max-width: 900px;
      margin: 0 auto;

      dl {
        margin-top: 15px;

        @include mq(sm) {
          margin: 0 auto;
          position: relative;
        }

        dt {
          font-size: 20px;
          font-weight: normal;

          @include mq(md) {
            font-size: 15px;
            line-height: 25px;
          }

          @include mq(sm) {
            font-size: 13px;
          }
        }

        dd {
          line-height: 25px;
          margin: -20px 20px 30px 150px;

          @include mq(md) {
            line-height: 20px;
            margin: -20px 20px 10px 100px;
            font-size: 10px;
          }

          @include mq(sm) {
            margin: -20px 0 0 90px;
          }
        }

        .mail {
          margin-bottom: 0;
          text-decoration: underline;
        }


        .prf-sp {
          display: none;

          @include mq(sm) {
            position: absolute;
            top: -8px;
            right: 0;
            display: block;
            width: 50px;
            height: 50px;
            border: 2px solid #125D98;
          }
        }
      }

      img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 3px solid #125D98;

        @include mq(md) {
          width: 140px;
          height: 140px;
        }

        @include mq(sm) {
          display: none;
        }
      }
    }
  }

  #wrapper {
    display: flex;

    .article {
      width: 60%;
      order: 2;
      margin: 10% 0;

      .content {
        margin: 20px;

        a {
          img {
            width: 100%;
          }
        }
      }
    }

    .side {
      width: 20%;
      order: 1;

      .float {
        position: fixed;

        .about-btn {
          display: inline-block;
          padding: 20px;

          @include mq(sm) {
            padding: 10px;
          }

          button {
            font-size: 15px;

            @include mq(sm) {
              font-size: 13px;
            }

            &::after {
              font-family: "Font Awesome 5 Free";
              content: "\f107";
              font-weight: 900;
              font-size: 15px;
              padding-left: 10px;

              @include mq(sm) {
                padding-left: 5px;
              }
            }
          }

          .close {
            &::after {
              content: "\f00d";

              @include mq(sm) {
                font-size: 13px;
              }
            }
          }
        }
      }

      .my-name {
        position: fixed;
        left: 11%;
        margin-top: 11%;
        writing-mode: vertical-lr;

        @include mq(xl) {
          left: 10%;
          margin-top: 12%;
        }

        @include mq(lg) {
          left: 9%;
          margin-top: 13%;
        }

        @include mq(md) {
          left: 6%;
          margin-top: 14%;
        }

        @include mq(sm) {
          left: 10px;
          margin-top: 17%;
        }

        h1 {
          font-size: 70px;
          font-weight: 900;
          white-space: nowrap;
          color: #aaa;
          opacity: .5;
          transition: .3s;

          &:hover {
            opacity: 1;
            color: #F5A962;
          }

          @include mq(xl) {
            font-size: 60px;
          }

          @include mq(lg) {
            font-size: 50px;
          }

          @include mq(md) {
            font-size: 40px;
          }

          @include mq(sm) {
            font-size: 30px;
          }
        }
      }
    }

    .sub {
      width: 20%;
      order: 3;

      .float {
        position: fixed;
        right: 8%;
        margin-top: 10%;

        @include mq(xl) {
          right: 7%;
        }

        @include mq(lg) {
          right: 6%;
        }

        @include mq(md) {
          right: 5%;
        }

        @include mq(sm) {
          right: 4%;
          margin-top: 10%;
        }

        .switch {
          padding-top: 20px;

          .switch-title {
            font-size: 15px;
            margin-bottom: 5px;

            @include mq(sm) {
              font-size: 13px;
            }
          }

          .toggle-switch {
            display: table;
            font-size: 60px;
            margin: 0 auto;

            input {
              display: none;

              &:checked+label {
                background: #125D98;

                &::before {
                  left: calc(100% - 30px + 0.05em);
                }
              }
            }

            label {
              display: block;
              position: relative;
              width: 60px;
              height: 30px;
              border-radius: 1em;
              background: #F5A962;
              cursor: pointer;

              &::before {
                position: absolute;
                top: 0.05em;
                left: 0.05em;
                width: calc(30px - 0.1em);
                height: calc(30px - 0.1em);
                border-radius: calc(1em - 0.1em);
                background: #fff;
                transition: .3s;
                content: "";
              }
            }
          }
        }
      }

      .top-btn {
        display: inline-block;
        position: fixed;
        right: 10px;
        bottom: 10px;

        a {
          display: inline-block;
          color: #F5A962;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #125D98;
          position: relative;

          &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f106";
            font-weight: 900;
            font-size: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  footer {
    small {
      font-size: 15px;
      text-align: center;
      color: #fff;
      display: block;
      padding: 30px;
      background: #125D98;

      @include mq(sm) {
        font-size: 10px;
      }
    }
  }
}