//breakpoints
$breakpoints: ("sm": "screen and (max-width: 414px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 1000px)",
  "xl": "screen and (max-width: 1200px)"
) !default;

// mixin
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints,$breakpoint)} {
    @content;
  }
}

// google fonts
@mixin oswald($weight:normal) {
  font-family: 'Oswald', sans-serif;
  font-weight: $weight;
  letter-spacing: 0.060em;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;

  // プロフィール
  #profile {
    background: #333;
    padding: 60px 20px;
    width: 100%;
    display: none;
    z-index: 999;

    @include mq(md) {
      padding: 40px 20px;
    }


    @include mq(sm) {
      padding: 30px 10px;
    }

    .prf-inner {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;

      dl {
        margin-top: 15px;

        @include mq(sm) {
          margin: 0;
          position: relative;
        }

        dt {
          @include oswald();
          font-size: 20px;

          @include mq(md) {
            font-size: 15px;
            line-height: 25px;
          }

          @include mq(sm) {
            font-size: 13px;
          }
        }

        dd {
          line-height: 25px;
          margin: -20px 20px 30px 150px;

          @include mq(md) {
            line-height: 20px;
            margin: -20px 20px 10px 100px;
            font-size: 10px;
          }

          @include mq(sm) {
            margin: -20px 0 0 80px;
          }
        }

        .mail {
          margin-bottom: 0;
          text-decoration: underline;
        }
      }

      // プロフィール写真
      .prf-img {
        width: 180px;
        margin-left: 10px;
        position: relative;

        @include mq(md) {
          width: 140px;
        }

        @include mq(sm) {
          width: 100px;
        }

        img {
          width: 100%;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  // ボタン
  #btn {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .prf-btn {
      display: inline-block;
      padding: 20px;

      @include mq(sm) {
        padding: 10px;
      }

      button {
        @include oswald();
        font-size: 15px;

        @include mq(sm) {
          font-size: 10px;
        }

        &::after {
          font-family: "Font Awesome 5 Free";
          content: "\f107";
          font-weight: 900;
          font-size: 15px;
          padding-left: 10px;

          @include mq(sm) {
            padding-left: 5px;
            font-size: 10px;
          }
        }
      }

      .close {
        &::after {
          content: "\f00d";

          @include mq(sm) {
            font-size: 10px;
          }
        }
      }
    }

    .about-btn {
      display: inline-block;
      padding: 20px;

      @include mq(sm) {
        padding: 10px;
      }

      a {
        @include oswald();
        font-size: 15px;

        @include mq(sm) {
          font-size: 10px;
        }

        &::after {
          font-family: "Font Awesome 5 Free";
          content: "\f105";
          font-weight: 900;
          font-size: 15px;
          padding-left: 10px;

          @include mq(sm) {
            padding-left: 5px;
            font-size: 10px;
          }
        }
      }
    }
  }

  // メインエリア
  #wrapper {
    padding-top: 10%;

    // コンテンツ外枠
    .content-wrapper {
      max-width: 1250px;
      padding: 0 50px;
      margin: 0 auto;

      h1 {
        @include oswald($weight:bold);
        font-size: 30px;
        text-align: center;
        margin: 30px 0 60px;
      }

      // コンテンツ
      .content {
        margin-bottom: 100px;

        @include mq(md) {
          margin-bottom: 70px;
        }

        @include mq(sm) {
          margin-bottom: 50px;
        }

        h2 {
          display: inline-block;
          margin-bottom: 5px;
          @include oswald();
          font-size: 25px;

          @include mq(lg) {
            font-size: 20px;
          }

          @include mq(md) {
            font-size: 18px;
          }

          @include mq(sm) {
            font-size: 15px;
          }
        }

        a {
          &:hover {
            transition: .3s;
            opacity: .8;
          }

          img {
            width: 100%;
          }
        }

        p {
          display: inline-block;
          margin-top: 3px;

          a {
            display: inline-block;
            text-decoration: underline;
            color: #aaa;
            font-size: 13px;
            word-wrap: break-word;

            @include mq(md) {
              font-size: 11px;
            }
          }
        }

        dl {
          margin-top: 20px;

          dt {
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.060em;
            line-height: 1.7;
            margin-bottom: 10px;
          }

          dd {
            font-size: 15px;
            letter-spacing: 0.060em;
            line-height: 1.7;
          }
        }
      }
    }

    // TOPに戻るボタン
    .top-btn {
      display: inline-block;
      position: fixed;
      right: 10px;
      bottom: 10px;

      a {
        display: inline-block;
        color: #F5A962;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #333;
        position: relative;

        @include mq(sm) {
          width: 30px;
          height: 30px;
        }

        &::after {
          font-family: "Font Awesome 5 Free";
          content: "\f106";
          font-weight: 900;
          font-size: 30px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          @include mq(sm) {
            font-size: 20px;
          }
        }
      }
    }
  }

  // フッター
  footer {
    small {
      font-size: 15px;
      text-align: center;
      color: #fff;
      display: block;
      padding: 30px;
      background: #333;

      @include mq(sm) {
        font-size: 10px;
        padding: 20px;
      }
    }
  }
}