body {
  background: #000;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
}

body #profile {
  background: #333;
  padding: 60px 0;
  width: 100%;
  display: none;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  body #profile {
    padding: 40px 0;
  }
}

@media screen and (max-width: 414px) {
  body #profile {
    padding: 30px 0;
  }
}

body #profile .prf-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  body #profile .prf-inner {
    padding: 0 10px;
  }
}

body #profile .prf-inner dl {
  margin-top: 15px;
}

@media screen and (max-width: 414px) {
  body #profile .prf-inner dl {
    margin: 0;
    position: relative;
  }
}

body #profile .prf-inner dl dt {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 0.060em;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  body #profile .prf-inner dl dt {
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (max-width: 414px) {
  body #profile .prf-inner dl dt {
    font-size: 13px;
  }
}

body #profile .prf-inner dl dd {
  line-height: 25px;
  margin: -20px 20px 30px 150px;
}

@media screen and (max-width: 768px) {
  body #profile .prf-inner dl dd {
    line-height: 20px;
    margin: -20px 20px 10px 100px;
    font-size: 10px;
  }
}

@media screen and (max-width: 414px) {
  body #profile .prf-inner dl dd {
    margin: -20px 0 0 80px;
  }
}

body #profile .prf-inner dl .mail {
  margin-bottom: 0;
  text-decoration: underline;
}

body #profile .prf-inner .prf-img {
  width: 180px;
  margin-left: 10px;
  position: relative;
}

@media screen and (max-width: 768px) {
  body #profile .prf-inner .prf-img {
    width: 140px;
  }
}

@media screen and (max-width: 414px) {
  body #profile .prf-inner .prf-img {
    width: 100px;
  }
}

body #profile .prf-inner .prf-img img {
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body #btn {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #btn .prf-btn {
  display: inline-block;
  padding: 20px;
}

@media screen and (max-width: 414px) {
  body #btn .prf-btn {
    padding: 10px;
  }
}

body #btn .prf-btn button {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 0.060em;
  font-size: 15px;
}

@media screen and (max-width: 414px) {
  body #btn .prf-btn button {
    font-size: 10px;
  }
}

body #btn .prf-btn button::after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  font-weight: 900;
  font-size: 15px;
  padding-left: 10px;
}

@media screen and (max-width: 414px) {
  body #btn .prf-btn button::after {
    padding-left: 5px;
    font-size: 10px;
  }
}

body #btn .prf-btn .close::after {
  content: "\f00d";
}

@media screen and (max-width: 414px) {
  body #btn .prf-btn .close::after {
    font-size: 10px;
  }
}

body #btn .about-btn {
  display: inline-block;
  padding: 20px;
}

@media screen and (max-width: 414px) {
  body #btn .about-btn {
    padding: 10px;
  }
}

body #btn .about-btn a {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 0.060em;
  font-size: 15px;
}

@media screen and (max-width: 414px) {
  body #btn .about-btn a {
    font-size: 10px;
  }
}

body #btn .about-btn a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  font-weight: 900;
  font-size: 15px;
  padding-left: 10px;
}

@media screen and (max-width: 414px) {
  body #btn .about-btn a::after {
    padding-left: 5px;
    font-size: 10px;
  }
}

body #wrapper {
  padding-top: 10%;
}

body #wrapper .content-wrapper {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  body #wrapper .content-wrapper {
    padding: 0 10px;
  }
}

body #wrapper .content-wrapper h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  letter-spacing: 0.060em;
  font-size: 60px;
  text-align: center;
  margin: 30px 0 100px;
}

@media screen and (max-width: 768px) {
  body #wrapper .content-wrapper h1 {
    font-size: 40px;
    margin: 30px 0 60px;
  }
}

@media screen and (max-width: 414px) {
  body #wrapper .content-wrapper h1 {
    font-size: 30px;
  }
}

body #wrapper .content-wrapper .content {
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  body #wrapper .content-wrapper .content {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 414px) {
  body #wrapper .content-wrapper .content {
    margin-bottom: 50px;
  }
}

body #wrapper .content-wrapper .content h2 {
  display: inline-block;
  margin-bottom: 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 0.060em;
  font-size: 25px;
}

@media screen and (max-width: 1000px) {
  body #wrapper .content-wrapper .content h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  body #wrapper .content-wrapper .content h2 {
    font-size: 18px;
  }
}

body #wrapper .content-wrapper .content a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: .8;
}

body #wrapper .content-wrapper .content a img {
  width: 100%;
}

body #wrapper .content-wrapper .content p {
  display: inline-block;
  margin-top: 3px;
}

body #wrapper .content-wrapper .content p a {
  display: inline-block;
  text-decoration: underline;
  color: #aaa;
  font-size: 13px;
  word-wrap: break-word;
}

@media screen and (max-width: 768px) {
  body #wrapper .content-wrapper .content p a {
    font-size: 11px;
  }
}

body #wrapper .content-wrapper .content dl {
  margin-top: 20px;
}

body #wrapper .content-wrapper .content dl dt {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.060em;
  line-height: 1.7;
  margin-bottom: 10px;
}

body #wrapper .content-wrapper .content dl dd {
  font-size: 16px;
  letter-spacing: 0.060em;
  line-height: 1.7;
}

body #wrapper .top-btn {
  display: inline-block;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

body #wrapper .top-btn a {
  display: inline-block;
  color: #F5A962;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333;
  position: relative;
}

@media screen and (max-width: 414px) {
  body #wrapper .top-btn a {
    width: 30px;
    height: 30px;
  }
}

body #wrapper .top-btn a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f106";
  font-weight: 900;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 414px) {
  body #wrapper .top-btn a::after {
    font-size: 20px;
  }
}

body footer small {
  font-size: 15px;
  text-align: center;
  color: #fff;
  display: block;
  padding: 30px;
  background: #333;
}

@media screen and (max-width: 414px) {
  body footer small {
    font-size: 10px;
    padding: 20px;
  }
}

body .start {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}

body .start p {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  letter-spacing: 0.060em;
  font-size: 60px;
  text-align: center;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
  width: 100%;
  z-index: 9999;
}

@media screen and (max-width: 768px) {
  body .start p {
    font-size: 45px;
  }
}

@media screen and (max-width: 414px) {
  body .start p {
    font-size: 35px;
  }
}
/*# sourceMappingURL=style.css.map */